.content {
  display: grid;
  grid-template-columns: 20% 75%;
  grid-column-gap: 20px;
  padding: 10px;
  margin: 0 auto;
  max-width: 1200px;
  background: #dcdcdc;
}

.hotel-list {
  > *:not(:last-child) {
    margin-bottom: 10px;
  }
}

.app-heading {
  text-align: center;
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
